.icon-temporary {
  background: url(../images/icon-temporary.png) no-repeat center top;
  background-size: contain;

  width: 0.8rem;
  height: 0.8rem;
  display: inline-block;
  margin-left: 0.2rem;
  cursor: pointer;
}
